<nav class="navbar row">
  <div class="col justify-content-center">
    <img
      src="https://i.pinimg.com/originals/ab/5e/19/ab5e193e93d28d7b7997885ac3dd1da7.png"
      alt=""
      style="width: 2em; height: auto; cursor: pointer"
      class="navBarImage"
      onClick="window.location.reload();"
    />
    <!-- <h6 class="pageTitleText"></h6> -->
  </div>
</nav>

<br />

<div class="container">
  <div class="row justify-content-center">
    <div class="col-12">
      <div
        class="card rarity-card"
        (click)="sortBy('total')"
        [ngClass]="{
          sortActive: sortByString == 'total'
        }"
      >
        <div class="card-body">
          <h4 class="cardRarityTitleText">Total</h4>

          <div class="progress main-progress-bar">
            <div
              class="progress-bar bg-success"
              role="progressbar"
              [ngStyle]="{ width: getPercentCollectedTotal() + '%' }"
            >
              <span>
                {{ getTotalCollectedCards() }} / {{ getTotalCards() }}
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <br />

  <div class="row justify-content-center">
    <div class="col-12 col-lg-3">
      <div
        class="card rarity-card mb-3"
        (click)="sortBy('common')"
        [ngClass]="{
          sortActive: sortByString == 'common'
        }"
      >
        <div class="card-body">
          <h5 class="cardRarityTitleText">Common</h5>

          <div class="progress common-progress-bar-container">
            <div
              class="progress-bar bg-info common-progress-bar"
              role="progressbar"
              [ngStyle]="{ width: getPercentCollectedTotalCommon() + '%' }"
            >
              <span>
                {{ getTotalCollectedCommon() }} / {{ getTotalCommon() }}
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-3">
      <div
        class="card rarity-card mb-3"
        (click)="sortBy('rare')"
        [ngClass]="{
          sortActive: sortByString == 'rare'
        }"
      >
        <div class="card-body">
          <h5 class="cardRarityTitleText">Rare</h5>

          <div class="progress rare-progress-bar-container">
            <div
              class="progress-bar bg-info rare-progress-bar"
              role="progressbar"
              [ngStyle]="{ width: getPercentCollectedTotalRare() + '%' }"
            >
              <span>
                {{ getTotalCollectedRare() }} / {{ getTotalRare() }}
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-3">
      <div
        class="card rarity-card mb-3"
        (click)="sortBy('epic')"
        [ngClass]="{
          sortActive: sortByString == 'epic'
        }"
      >
        <div class="card-body">
          <h5 class="cardRarityTitleText">Epic</h5>

          <div class="progress epic-progress-bar-container">
            <div
              class="progress-bar bg-info epic-progress-bar"
              role="progressbar"
              [ngStyle]="{ width: getPercentCollectedTotalEpic() + '%' }"
            >
              <span>
                {{ getTotalCollectedEpic() }} / {{ getTotalEpic() }}
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-3">
      <div
        class="card rarity-card mb-3"
        (click)="sortBy('legendary')"
        [ngClass]="{
          sortActive: sortByString == 'legendary'
        }"
      >
        <div class="card-body">
          <h5 class="cardRarityTitleText">Legendary</h5>

          <div class="progress legendary-progress-bar-container">
            <div
              class="progress-bar bg-info legendary-progress-bar"
              role="progressbar"
              [ngStyle]="{ width: getPercentCollectedTotalLegendary() + '%' }"
            >
              <span>
                {{ getTotalCollectedLegendary() }} / {{ getTotalLegendary() }}
              </span>
            </div>
          </div>

          <!-- <br />
          <div
            class="minorCardCollectedTextLegendary"
            [ngClass]="{
              minorCardCollectedTextCompleted:
                getPercentCollectedTotalLegendary() == 100
            }"
          >

          </div> -->
        </div>
      </div>
    </div>
  </div>
  <hr style="margin-top: 0em" />
  <div class="row justify-content-md-center">
    <div
      class="col-12 col-lg-4 cardSet"
      *ngFor="let cardSet of cardSets"
      (click)="toggleShowDetails(cardSet)"
    >
      <div class="card card-set mb-3">
        <div class="card-body">
          <h5 class="card-title cardTitleText">{{ cardSet.name }}</h5>
          <!-- <h6
            class="cardCollectedText"
            [ngClass]="{
              cardCollectedCompletedText:
                getTotalCollectedOfCardSet(cardSet) ===
                getTotalCardsOfCardSet(cardSet)
            }"
          >
            {{ getTotalCollectedOfCardSet(cardSet) }} /
            {{ getTotalCardsOfCardSet(cardSet) }}
          </h6> -->

          <div class="progress">
            <div
              class="progress-bar bg-info"
              role="progressbar"
              [ngStyle]="{ width: getPercentCollected(cardSet) + '%' }"
              [ngClass]="{
                progressCompleted:
                  getTotalCollectedOfCardSet(cardSet) ===
                  getTotalCardsOfCardSet(cardSet)
              }"
            ></div>
          </div>

          <div>
            <br />
            <div class="row justify-content-md-center">
              <div class="col-3">
                <div>
                  <div
                    class="minorCardCollectedTextCommon"
                    [ngClass]="{
                      minorCardCollectedTextCompleted:
                        cardSet.commonCollected === cardSet.commonTotal
                    }"
                    [ngClass]="{
                      minorTextSortActive: sortByString == 'common'
                    }"
                  >
                    {{ cardSet.commonCollected }} /
                    {{ cardSet.commonTotal }}
                  </div>
                </div>
              </div>
              <div class="col-3">
                <div>
                  <div
                    class="minorCardCollectedTextRare"
                    [ngClass]="{
                      minorCardCollectedTextCompleted:
                        cardSet.rareCollected === cardSet.rareTotal
                    }"
                    [ngClass]="{
                      minorTextSortActive: sortByString == 'rare'
                    }"
                  >
                    {{ cardSet.rareCollected }} / {{ cardSet.rareTotal }}
                  </div>
                </div>
              </div>
              <div class="col-3">
                <div>
                  <div
                    class="minorCardCollectedTextEpic"
                    [ngClass]="{
                      minorCardCollectedTextCompleted:
                        cardSet.epicCollected === cardSet.epicTotal
                    }"
                    [ngClass]="{
                      minorTextSortActive: sortByString == 'epic'
                    }"
                  >
                    {{ cardSet.epicCollected }} / {{ cardSet.epicTotal }}
                  </div>
                </div>
              </div>
              <div class="col-3">
                <div>
                  <div
                    class="minorCardCollectedTextLegendary"
                    [ngClass]="{
                      minorCardCollectedTextCompleted:
                        cardSet.legendaryCollected === cardSet.legendaryTotal
                    }"
                    [ngClass]="{
                      minorTextSortActive: sortByString == 'legendary'
                    }"
                  >
                    {{ cardSet.legendaryCollected }} /
                    {{ cardSet.legendaryTotal }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<br />

<footer class="text-center text-white">
  <!-- Copyright -->
  <div class="text-center p-3">Made with BootStrap</div>
  <!-- Copyright -->
</footer>
