.card {
    background-color: #343A40;
    /* background-color: rgb(20, 20, 20); */
    cursor: default;
    border: 1px solid rgb(29, 28, 28);
}

.rarity-card {
    background-color: #343A40;
    cursor: pointer;
    border-radius: 0.5em;
}

.rarity-card:hover {
    box-shadow: 0 0 2px #EEEEE9;
    background-color: #3d434d
}

.card-set:hover {
    background-color: #3d434d;
}

.card-set {
    border-radius: 0.75em;
}

.sortActive {
    background-color: #2e2a2a;
    border: 1px solid white;
}

.pageTitleText {
    color: #EEEEE9;
}

.main-progress-bar {
    box-shadow: 0 0 3px #333333;
    min-height: 25px;
}

.cardRarityTitleText {
    color: #EEEEE9;
    text-align: center;
    text-shadow: #3f3b3b 1px 0 2px;
}

.cardTitleText {
    color: #EEEEE9;
    text-align: center;
    text-shadow: #3f3b3b 1px 0 2px;
}

.cardCollectedText {
    color: #EEEEE9;
    text-align: center;
}

.cardCollectedCompletedText {
    color: #b7e1cd;
    text-align: center
}

.minorCardCollectedTextCommon {
    color: #929292;
    text-align: center;
    font-size: 80%;
}

.minorCardCollectedTextRare {
    color: #929292;
    text-align: center;
    font-size: 80%;
}

.minorCardCollectedTextEpic {
    color: #929292;
    text-align: center;
    font-size: 80%;
}

.minorCardCollectedTextLegendary {
    color: #929292;
    text-align: center;
    font-size: 80%;
}

.minorCardCollectedTextCompleted {
    color: #b7e1cd;
    /* font-weight: bold; */
}

.minorTextSortActive {
    background-color: #2e2a2a;
    border-radius: 5px;
}

.card-body {
    padding: 5px 5px 5px 5px;
}

.progress {
    box-shadow: 0 0 3px #333333;
    cursor: default;
    /* background-color: #B5C2B7 !important */
}

.common-progress-bar {
    /* background-color: #B5C2B7!important */
    background-color: #8e908f!important
}

.rare-progress-bar {
    background-color: #4E8ADC !important
}

.epic-progress-bar {
    background-color: #9749e0 !important
}

.legendary-progress-bar {
    background-color: #FEA60F !important
}

.total-progress-bar {
    background-color: rgb(40, 167, 69) !important
}

.progress {
    position: relative;
}

.progress span {
    padding: 8px;
    position: absolute;
    top: 0;
    z-index: 2;
    text-align: center;
    width: 100%;
    color: #272323;
    font-weight: bolder;
}

.main-progress-bar span {
    padding: 12px;
    position: absolute;
    top: 0;
    z-index: 2;
    text-align: center;
    width: 100%;
    color: #272323;
    font-weight: bolder;
}

.shadow {
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777;
}

hr {
    background-color: #EEEEE9;
    height: 1px;
    border: 0;
}

.spinner-container {
    text-align: center;
    width: 10em;
    height: 10em;
    padding: 10vh;
}

.spinner-element {
    width: 5em;
    height: 5em;
}

.error-title-text {
    text-align: center;
    cursor: default;
    color: #EEEEE9;
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
}

.error-title-sub-text {
    text-align: center;
    color: #c4c4be;
    font-weight: lighter;
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
}

.emphasis-text {
    color: #FEA60F;
}