<!-- NAV BAR -->

<!-- <nav class="navbar row">
  <div class="col justify-content-center">
    <img
      src="https://i.pinimg.com/originals/ab/5e/19/ab5e193e93d28d7b7997885ac3dd1da7.png"
      alt=""
      style="width: 2em; height: auto; cursor: pointer"
      class="navBarImage"
      onClick="window.location.reload();"
    />
  </div>
</nav> -->

<!-- <br /> -->

<div class="container">
  <!-- TOTAL PANEL -->

  <div class="row justify-content-center">
    <div class="col-12 col-lg-4">
      <div
        class="card rarity-card shadow"
        (click)="sortBy('total')"
        [ngClass]="{
          sortActive: sortByString == 'total'
        }"
      >
        <div class="card-body">
          <h4 class="cardRarityTitleText">Total</h4>

          <div class="progress main-progress-bar">
            <div
              class="progress-bar bg-success"
              role="progressbar"
              [ngStyle]="{ width: getPercentCollectedTotal() + '%' }"
            >
              <span>
                {{ getTotalCollectedCards() }} / {{ getTotalCards() }}
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <br />

  <!-- SUMMARY PANELS -->

  <div class="row justify-content-center">
    <!-- COMMON -->

    <div class="col-12 col-lg-3">
      <div
        class="card rarity-card mb-3"
        (click)="sortBy(rarity.COMMON)"
        [ngClass]="{
          sortActive: sortByString == rarity.COMMON
        }"
      >
        <div class="card-body">
          <h5 class="cardRarityTitleText">Common</h5>

          <div class="progress common-progress-bar-container">
            <div
              class="progress-bar bg-info common-progress-bar"
              role="progressbar"
              [ngStyle]="{ width: getPercentCollectedTotalCommon() + '%' }"
            >
              <span>
                {{ getTotalCollectedCommon() }} / {{ getTotalCommon() }}
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- RARE -->

    <div class="col-12 col-lg-3">
      <div
        class="card rarity-card mb-3"
        (click)="sortBy(rarity.RARE)"
        [ngClass]="{
          sortActive: sortByString == rarity.RARE
        }"
      >
        <div class="card-body">
          <h5 class="cardRarityTitleText">Rare</h5>

          <div class="progress rare-progress-bar-container">
            <div
              class="progress-bar bg-info rare-progress-bar"
              role="progressbar"
              [ngStyle]="{ width: getPercentCollectedTotalRare() + '%' }"
            >
              <span>
                {{ getTotalCollectedRare() }} / {{ getTotalRare() }}
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- EPIC -->

    <div class="col-12 col-lg-3">
      <div
        class="card rarity-card mb-3"
        (click)="sortBy(rarity.EPIC)"
        [ngClass]="{
          sortActive: sortByString == rarity.EPIC
        }"
      >
        <div class="card-body">
          <h5 class="cardRarityTitleText">Epic</h5>

          <div class="progress epic-progress-bar-container">
            <div
              class="progress-bar bg-info epic-progress-bar"
              role="progressbar"
              [ngStyle]="{ width: getPercentCollectedTotalEpic() + '%' }"
            >
              <span>
                {{ getTotalCollectedEpic() }} / {{ getTotalEpic() }}
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- LEGENDARY -->

    <div class="col-12 col-lg-3">
      <div
        class="card rarity-card mb-3"
        (click)="sortBy(rarity.LEGENDARY)"
        [ngClass]="{
          sortActive: sortByString == rarity.LEGENDARY
        }"
      >
        <div class="card-body">
          <h5 class="cardRarityTitleText">Legendary</h5>

          <div class="progress legendary-progress-bar-container">
            <div
              class="progress-bar bg-info legendary-progress-bar"
              role="progressbar"
              [ngStyle]="{ width: getPercentCollectedTotalLegendary() + '%' }"
            >
              <span>
                {{ getTotalCollectedLegendary() }} / {{ getTotalLegendary() }}
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- COLLECTION PANELS -->

  <hr style="margin-top: 0em" />
  <div class="row justify-content-md-center">
    <div
      class="col-12 col-lg-4 cardSet"
      *ngFor="let cardSet of cardSets"
      (click)="toggleShowDetails(cardSet)"
    >
      <div class="card card-set mb-3">
        <div class="card-body">
          <h5 class="card-title cardTitleText">
            {{ cardSet.name | friendlyName }}
          </h5>
          <!-- <h6
              class="cardCollectedText"
              [ngClass]="{
                cardCollectedCompletedText:
                  getTotalCollectedOfCardSet(cardSet) ===
                  getTotalCardsOfCardSet(cardSet)
              }"
            >
              {{ getTotalCollectedOfCardSet(cardSet) }} /
              {{ getTotalCardsOfCardSet(cardSet) }}
            </h6> -->

          <div class="progress">
            <div
              class="progress-bar bg-info"
              role="progressbar"
              [ngStyle]="{ width: getPercentCollected(cardSet) + '%' }"
              [ngClass]="{
                'common-progress-bar': sortByString == rarity.COMMON,
                'rare-progress-bar': sortByString == rarity.RARE,
                'epic-progress-bar': sortByString == rarity.EPIC,
                'legendary-progress-bar': sortByString == rarity.LEGENDARY,
                'total-progress-bar': sortByString == 'total'
              }"
            ></div>
          </div>

          <div>
            <br />
            <div class="row justify-content-md-center">
              <div
                *ngIf="
                  sortByString == 'release' ||
                  sortByString == 'total' ||
                  sortByString == rarity.COMMON
                "
                class="col-3"
              >
                <div>
                  <div
                    class="minorCardCollectedTextCommon"
                    [ngClass]="{
                      minorTextSortActive: sortByString == rarity.COMMON,
                      minorCardCollectedTextCompleted:
                        cardSet.commonCollected == cardSet.commonTotal
                    }"
                  >
                    {{ cardSet.commonCollected }} /
                    {{ cardSet.commonTotal }}
                  </div>
                </div>
              </div>
              <div
                *ngIf="
                  sortByString == 'release' ||
                  sortByString == 'total' ||
                  sortByString == rarity.RARE
                "
                class="col-3"
              >
                <div>
                  <div
                    class="minorCardCollectedTextRare"
                    [ngClass]="{
                      minorTextSortActive: sortByString == rarity.RARE,
                      minorCardCollectedTextCompleted:
                        cardSet.rareCollected === cardSet.rareTotal
                    }"
                  >
                    {{ cardSet.rareCollected }} / {{ cardSet.rareTotal }}
                  </div>
                </div>
              </div>
              <div
                *ngIf="
                  sortByString == 'release' ||
                  sortByString == 'total' ||
                  sortByString == rarity.EPIC
                "
                class="col-3"
              >
                <div>
                  <div
                    class="minorCardCollectedTextEpic"
                    [ngClass]="{
                      minorTextSortActive: sortByString == rarity.EPIC,
                      minorCardCollectedTextCompleted:
                        cardSet.epicCollected === cardSet.epicTotal
                    }"
                  >
                    {{ cardSet.epicCollected }} / {{ cardSet.epicTotal }}
                  </div>
                </div>
              </div>
              <div
                *ngIf="
                  sortByString == 'release' ||
                  sortByString == 'total' ||
                  sortByString == rarity.LEGENDARY
                "
                class="col-3"
              >
                <div>
                  <div
                    class="minorCardCollectedTextLegendary"
                    [ngClass]="{
                      minorTextSortActive: sortByString == rarity.LEGENDARY,
                      minorCardCollectedTextCompleted:
                        cardSet.legendaryCollected === cardSet.legendaryTotal
                    }"
                  >
                    {{ cardSet.legendaryCollected }} /
                    {{ cardSet.legendaryTotal }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
