<!-- NAV BAR -->

<nav class="navbar row">
  <div class="col justify-content-center">
    <img
      src="https://i.pinimg.com/originals/ab/5e/19/ab5e193e93d28d7b7997885ac3dd1da7.png"
      alt=""
      style="width: 2em; height: auto; cursor: pointer"
      class="navBarImage"
      onClick="window.location.reload();"
    />
  </div>
</nav>

<br />

<div class="input-group">
    <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
      aria-describedby="search-addon" />
    <button type="button" class="btn btn-outline-primary">search</button>
  </div>
